{% extends "base.html" %} 
{% block content %}

{# is it possible to filter based off countries here? #}

<div class="container">
    <div class = "row">
        <div class = "mt-0 mb-4">
            {% for article in article_list %}
                <div class = "card mt-0 mb-4"> 
                    <div class = "card-body">
                        <h2 class = "card-title">{{ article.title }}</h2>
                        <p class="card-text text-muted h6">{{ article.author }} | {{ article.region }} | {{ article.created_on}} </p>
                        <p class="card-text">{{article.content|slice:":200" }}</p>
                        <a href="{% url 'article_detail' article.slug  %}" class="btn btn-primary">Read More</a> <!-- &rarr;</a> -->
                        <!-- <div class= "input-group-prepend"> -->
                        <a href = "{% url 'article_update' article.slug %}", name = "update", class = "btn btn-success">Update</a>
                        <a href = "{% url 'article_delete' article.slug %}", name = "delete", class = "btn btn-danger">Delete</a>
                        <!-- </div> -->
                    </div>
                </div>
            {% endfor %}

            <div class="mt-0 mb-4">
                <a href = "{% url 'article_create' %}", name = "create", class="btn btn-info">Create article</a>
                <!-- href refers to the html template -->
            </div>
            
            
        </div>
    </div>
</div>

{% endblock %}